default:
  suites:
    default:
      contexts:
        - FeatureContext:
            kernel: '@kernel'
            doctrine: '@doctrine'
        - Behatch\Context\JsonContext
        - Behatch\Context\RestContext
        - ArticleContext:
            doctrine: '@doctrine'

  extensions:
    Behat\Symfony2Extension:
      kernel:
        bootstrap: features/bootstrap/bootstrap.php
        class: ArticleHub\Kernel
    Behat\MinkExtension:
      base_url: "http://localhost:8080/"
      files_path: '%paths.base%/features/bootstrap'
      sessions:
        default:
          symfony2: ~
    Behatch\Extension: ~
    ArticleHub\BehatExtension\ArticleHubExtension: ~
